<?xml version="1.0" encoding="UTF-8"?>
<suite name="AllTests Suite">
    <test name="AllTests">
        <classes>
            <class name="FirstPageDniproMUATEST"/>
            <class name="SecondPageCordLessToolTEST"/>
            <class name="ThirdPageTradingSalonsTEST"/>
        </classes>
    </test>
</suite>